



.animatedwrapper {
  overflow: hidden;
	position: fixed;
	top: 10;
	left: 0;
	width: 100dvw;
	height: 100%;
  isolation: isolate; /*Fuerza al elemento a actuar como una capa separada en el orden de apilamiento.*/
  pointer-events: none;
}

.animatedwrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./../assets/nnnoise.svg);
}

/* Optimized animated dots - using fewer DOM elements with CSS variables */
.optimized-dot {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 100%;
  filter: blur(60px); 
  opacity: 0.4;
  mix-blend-mode: soft-light; /*define c칩mo los colores de un elemento se mezclan con los colores del fondo*/
  will-change: transform; /*Hace que animaciones de escalado, traslaci칩n, rotaci칩n y sesgado sean m치s fluidas. */
}

.dot-red {
  left: -200px;
  bottom: 100px;
  background: #460311;
  animation: dot-animation-1 20s infinite ease-in-out;
}
/* .dot-red {
  left: -200px;
  bottom: 100px;
  background: #ed2a24;
  animation: dot-animation-1 20s infinite ease-in-out;
} */

.dot-purple {
  left: -150px;
  bottom: 50px;
  background: #17126c;
  animation: dot-animation-2 20s infinite ease-in-out;
}

/* .dot-purple {
  left: -150px;
  bottom: 50px;
  background: #bd3690;
  animation: dot-animation-2 20s infinite ease-in-out;
} */

/* .dot-orange {
  right: -100px;
  top: 150px;
  background: #f0700e;
  animation: dot-animation-3 20s infinite ease-in-out;
} */


/* Separate animations for each dot to create more interesting movement */
@keyframes dot-animation-1 {
  0% { transform: translate(0, 0); }
  33% { transform: translate(150px, 100px); }
  66% { transform: translate(100px, 300px); }
  100% { transform: translate(0, 0); }
}

@keyframes dot-animation-2 {
  0% { transform: translate(0, 0); }
  33% { transform: translate(-150px, 200px); }
  66% { transform: translate(50px, 100px); }
  100% { transform: translate(0, 0); }
}



/* Modo claro: reducir opacidad para no interferir con la lectura */
[data-theme="light"] .optimized-dot {
  opacity: 0.12;
  filter: blur(80px);
}

@media screen and (min-width: 768px) {
  .optimized-dot {
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .optimized-dot {
    width: 600px;
    height: 600px;
  }
}
