.dobleQuotes {
		position: relative;
		/* max-width: calc(var(--spacing) * 80); */
		max-width: var(--container-md);
		width: 100%;
		text-wrap: pretty;
		border-left-style: var(--tw-border-style);
		border-left-width: 2px;
		border-color: var(--color-cyan-400);
		padding-left: calc(var(--spacing) * 6);
		padding-block: calc(var(--spacing) * 6);
		background-color: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 5%, transparent);
		border-top-right-radius: var(--radius-sm) /* 0.25rem = 4px */;
  	border-bottom-right-radius: var(--radius-sm) /* 0.25rem = 4px */;
		--tw-font-weight: var(--font-weight-extrabold) /* 800 */;
  	font-weight: var(--font-weight-extrabold) /* 800 */;
		font-size: var(--text-lg) /* 1.125rem = 18px */;
  	line-height: var(--tw-leading, var(--text-lg--line-height) /* calc(1.75 / 1.125) ≈ 1.555556 */);
}

.dobleQuotes::before {
	content: '';
	font-size: 3rem;
	position: absolute;
	top: 4px;
	left: 6px;
	background-image: url(./../assets/start.svg);
	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 1 / 1;
	width: 24px;
}

.dobleQuotes::after {
	content: '';
	font-size: 3rem;
	position: absolute;
	bottom: 0;
	right: 6px;
	background-image: url(./../assets/end.svg);
	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 1 / 1;
	width: 24px;
}